<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="jp">

<title>Meeting-of-Minutes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:include="fragments/js :: jquerys"></div>
	<div th:include="fragments/js :: bootstrap"></div>
	<div class="container">
		<h1 class="header_logo">
			<a th:href="@{/}"><img th:src="@{/img/logo_bjit.png}"
				width="120" height="120" alt="" /></a>
		</h1>
		<div class="panel panel-default">
			<div class="panel-heading">MoM deleted successfully</div>
			<p th:text="${mom.getEmails()}" />
			<p th:text="'Subject: ' + ${mom.getMomsubject()}" />
			<p th:text="'Body: ' + ${mom.getMom()}" />
			<a th:href="@{'/'}" class="btn btn-info">Back</a>
			<a th:href="@{'/momlist'}" class="btn btn-info">MoMs List</a>
		</div>
	</div>
</body>
</html>