<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="jp">

<title>Meeting-of-Minutes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:include="fragments/js :: jquerys"></div>
	<div th:include="fragments/js :: bootstrap"></div>
	<div class="container">
		<h1 class="header_logo">
			<a th:href="@{/}"><img th:src="@{/img/logo_bjit.png}" width="120"
				height="120" alt="" /></a> MoMs
		</h1>
		<a th:href="@{/}"><img
			th:src="@{/img/blue-add-note-new.png}" width="50" height="50" alt=""
			align="right" /></a>
	</div>
	<div class="container" th:if="${not #lists.isEmpty(momsList)}">
		<table class="table table-hover">
			<tr>
				<th>ID</th>
				<th>Emails</th>
				<th>Subject</th>
				<th>Details</th>
				<th>Delete</th>
			</tr>
			<tr th:each="mom : ${momsList}">
				<td th:text="${mom.getId()}"></td>
				<td th:text="${mom.getEmails()}"></td>
				<td
					th:utext="${#strings.replace(mom.getMomsubject(), T(System).getProperty('line.separator'), '&lt;br /&gt;')}">
				</td>
				<td
					th:utext="${#strings.replace(mom.getMom(), T(System).getProperty('line.separator'), '&lt;br /&gt;')}">
				</td>
				<td><a th:href="@{'/delete?id=' + ${mom.getId()}}"
					class="btn btn-danger btn-sm">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>